.modal {
    align-items: center;
    background-color: rgba($lightest-color, 0.8);
    display: flex;
    justify-content: center;
    position: fixed;
    // left: 0;
    // bottom: 0;
    // right: 0;
    // top: 0;
    inset: 0;

    .modal__content {
        background: $lightest-color;
        box-shadow: 0 0 4px rgba(#000, 0.4);
        max-width: 66%;
        padding: 20px;
        position: relative;
        border-radius: 10px;

        p {
            font-size: 21px;
        }
    }

    &-close {
        border: 0;
        font-size: 42px;
        position: absolute;
        right: 50%;
        top: 50%;
    }
}