@use "mixins";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: #efefef;
  font-family: 'Roboto', sans-serif;

  &.dark {
    background: #0c0c0c;
  }
}

<<<<<<< Updated upstream
a {
  color: #000;
  text-decoration: none;
}
=======
/* Components */
@import "components/links";
@import "components/recipeCard";
@import "components/recipesList";
@import "components/button";
@import "components/modal";
>>>>>>> Stashed changes

.main__container {
  @include mixins.content-container;
}
